
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<body>

<div class="chicory-order-ingredients" data-public-id="dd714fd3aebe400a9db34e30441b0665"></div>

<div class="chicory-order-ingredients" data-public-id="28b9d37a63b948589c0ffaf4e3c5ea5d"></div>

<div class="chicory-order-ingredients" data-public-id="13b2b712f1c64c2e86dc08f6e30f49e8"></div>

<script src="http://myrecipes.chicoryapp.com/widget_v2/"></script>

</body>

</html>