
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<link type="text/css" rel="stylesheet" href="http://cdn-css.myrecipes.com/sites/default/files/advagg_css/css__TGxPS_ii2e13nroichSMnD9qRZNGcOtdXcwDOJYESLg__pY5e78JifGg7RiKdkwUcG54rrbEs2Ab94zTR16fN_Gw__okqcULUhAFH13FFz8HCZAXiO-JojY7wZpjuJm6Tfrmk.css" media="all" />
<link type="text/css" rel="stylesheet" href="http://cdn-css.myrecipes.com/sites/default/files/advagg_css/css__-MIDYcw---PCM0FxXnbFOjZjHXbyOg1S0wzi_BxcQJQ__1iKd9qqy_pnRyklGPug6Bfn6uP5DCLJDAwOrao9tuZw__okqcULUhAFH13FFz8HCZAXiO-JojY7wZpjuJm6Tfrmk.css" media="all" />
<link type="text/css" rel="stylesheet" href="http://cdn-css.myrecipes.com/sites/default/files/advagg_css/css__6k229rBz0vfEVWG8RPJvN9u6syp3ku0yfoGtlxBUSu0__OLSS96Du-pLcS75cwBqDkujyuiWOZpU3NooTCqYq_0A__okqcULUhAFH13FFz8HCZAXiO-JojY7wZpjuJm6Tfrmk.css" media="all" />
<link type="text/css" rel="stylesheet" href="http://cdn-css.myrecipes.com/sites/default/files/advagg_css/css__47ILwCNdt9e1w-zf5-ggC_4A4sLKuXoRchlN3o5Gpqw__kLTrBqjyYqWe1JSWw8az9PJOXpbsalHGnh7yk39mgWc__okqcULUhAFH13FFz8HCZAXiO-JojY7wZpjuJm6Tfrmk.css" media="all" />

<body>

  <ul class="pt1">
    <li class="print" onclick="omniCommunityTracker('print');">
      <a href="/recipe/banana-bread-1/print" target="_blank" sl-processed="1">Print Recipe</a>
    </li>
    <li class="email">
       <span class="st_email_custom"><a href="#" sl-processed="1">Email</a></span>
     </li>
  </ul>

  <div class="chicory-order-ingredients plain-text-button" data-recipe-id="70971"></div>

  <script src="http://localhost:8000/widget_v2/"></script>

</body>

</html>