<!-- data-public-id="c2f99c10-4101-408e-ba8b-aba5eef93dc5" -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<style>
div.pusher {
  width: 100%;
  height: 100px;
}
</style>
</head>

<body>
  
<div class="pusher"></div>

  <!-- <div class="chicory-order-ingredients" data-recipe-id="72279"></div> -->
  <div class="chicory-order-ingredients" data-recipe-id="70971"></div>

  <div class="chicory-order-ingredients" data-recipe-id="14674"></div>

<div class="pusher"></div>

<!-- <script src="https://qa.chicoryapp.com/widget_v2/"></script> -->
<script src="http://qa.chicoryapp.com/widget_v2/"></script>

</body>

</html>
